<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Home Automation System</title>
</head>
<body class="container mt-5">

    <div class="text-center">
        <img src="{{ url_for('static', filename='lightbulb.png') }}" alt="lightbulb" style="width: 50px; height: auto;">
        <h2>Control LED</h2>
        <form action="/led/on" method="post" class="d-inline">
            <button type="submit" class="btn btn-success">Aprinde LED</button>
        </form>
        <form action="/led/off" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger">Stinge LED</button>
        </form>
    </div>
    
    <div class="text-center mt-5">
        <img src="{{ url_for('static', filename='thermometer.png') }}" alt="thermometer" style="width: 50px; height: auto;">
        <h2>Temperatură și Umiditate</h2>
        <p>Temperatură: {{ temperature }}°C</p>
        <p>Umiditate: {{ humidity }}%</p>
    </div>
    
    <div class="text-center mt-5">
        <img src="{{ url_for('static', filename='speech-bubble.png') }}" alt="speech balloon" style="width: 50px; height: auto;">
        <h2>Mesaje UART</h2>
    </div>
    <ul class="list-group text-center">
        {% for message in messages %}
            <li class="list-group-item">{{ message }}</li>
        {% endfor %}
    </ul>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
